.sidebar{
    width:220px;
    height:100vh;
    background:#1f2937;
    color:white;
    position:fixed;
    padding:20px;
}

.logo{
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:10px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#374151;
}

/* Tablet */

@media (max-width:768px){

  .sidebar{
    width:180px;
  }

}

/* Mobile */

@media (max-width:480px){

  .sidebar{
    width:100%;
    height:auto;
    position:relative;
  }

  .sidebar ul{
    display:flex;
    justify-content:space-around;
  }

  .sidebar li{
    padding:8px;
  }

}